# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore sublime project files
.DS_Store
_pages/christophberkegithub.sublime-project
_pages/christophberkegithub.sublime-workspace
